@{
    Layout = "/Areas/Identity/Pages/_Layout.cshtml";
}

@*<h1>Manage your account</h1>*@

<link rel="stylesheet" href="~/css/Profile.css" />

<div>
 

    <div class="row">
            <div class="col-md-3">
                <partial name="_ManageNav" />
            </div>
            <div class="col-md-9">
                @RenderBody()
            </div>
        </div>
</div>



@section Scripts {
    @RenderSection("Scripts", required: false)
}
