@{
    ViewData["Title"] = "Home Page";
}



<div class="container">

    <div class="row" id="searchBarRow">
            <div class="col-sm-2">
                <a asp-controller="Home" asp-action="Index">
                    <!-- Get correct prototype asset during Phase 2 -->
                    <img src="~/Icons/Logo_2.png" height="67" width="128" alt="Oeuvre Art Collection"/>
                </a>
            </div>
            <div class="col-md-6" id="innerRow">
                    <div class="right-inner-addon">
                        <i class="fa fa-search icon"></i>
                        <input type="search" class="form-control" placeholder="Search" />
                    </div>
                </div>

            <div class="col-sm-3" id="innerRow">
                <button class="btn" >Add your gallery's work</button>
            </div>
        </div>


</div>

@section Styles {
    <link rel="stylesheet" href="~/css/Mainpage.css" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
}