@{
    ViewData["Title"] = "Home Page";
}



<div class="container">

    <div class="row" id="searchBarRow">
            <div class="col-sm-2" id="innerRow">
                <a asp-controller="Home" asp-action="Index">Oeuvre Placeholder</a>
            </div>
            <div class="col-md-8" id="innerRow">
                    <div class="right-inner-addon">
                        <i class="fa fa-search icon"></i>
                        <input type="search" class="form-control" placeholder="Search" />
                    </div>
                </div>

            <div class="col-sm-4" id="innerRow">

            </div>
        </div>


</div>

@section Styles {
    <link rel="stylesheet" href="~/css/Mainpage.css" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
}