@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        @*<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="getList">Home</a>

        @{
            if (ViewData["Galleries"] != null && ViewData["Galleries"] != "")
            {
                var galleries = ViewData["Galleries"] as List<Gallery>;

                foreach (Gallery gallery in galleries)
                {
                    <h3>@gallery.GalleryName</h3>
                }

            }

        }*@



    </div>
