body {
}

.navbar {
    padding: 0;
}

#mainNavbar {
    background-color: #a12412;
}

#mainNavbar a {
    color: #FFF;
}

#navLi {
    color: #FFF;
    font-weight: 400;
}



#searchBarRow {
    margin-top: 0;
    height: 20%;
    background-color: #eeedeb;
}

#innerRow {
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 1%;
    margin-right: 1%;
}

#innerRow i {
    position: absolute;
    padding: 1.2%;
}

#innerRow input {
    text-align:center;
}

#innerRow button {
        color: #FFF;
        background-color: #9b999a;
        margin-left: auto;
        margin-right: auto;
    }

header {
    padding-top: 0;
    margin-top: 0;
}

.container {
    padding-right: 0;
    padding-left: 0;
}


.rounded {
    border-radius: 30px!important;
}


#discoverLocalArtColumn {
    background-image: url("../Assets/Home/deanna-j-3GZlhROZIQg-unsplash.jpg");
    background-position: center;
    background-size:cover;
    padding: 0;
    margin: 0;
}

#findAGalleryButton {
    background-color: rgba(161, 36, 18, 0.8);
    border-radius: 20px;
    margin-bottom: 5%;
}

#subheaderDiscover {
    color: rgb(94, 94, 94);
}

#headerDiscover {
}

#outerContainer {
    background-color: rgba(255, 255, 255, 0.7);
}



