<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Oeuvre</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/Mainpage.css" />

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDyjF30YbdusvvUeLmtnfEMFIfytOrvkEU"></script>




    @*<script src="https://maps.googleapis.com/maps/api/js?"></script>*@

    @RenderSection("Styles", false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white box-shadow mb-0">
            <div class="container-fluid" id="mainNavbar">
                <div class="col-lg-10 ml-auto mr-auto">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <partial name="_LoginPartial" />
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item" id="navLiFirst">
                                <a class="nav-link text-light" asp-area="" asp-controller="Galleries" asp-action="Index">Galleries</a>
                            </li>
                            @*<li class="nav-item" id="navLi">
            <a class="nav-link text-light"  asp-area="" asp-controller="Current" asp-action="Index">Current</a>
        </li>*@
                            @*this is a test*@
                            <li class="nav-item" id="navLi">
                                <a class="nav-link text-light" asp-area="" asp-controller="SearchGallery" asp-action="SearchGallery">Discover</a>
                            </li>
                            <li class="nav-item" id="navLi">
                                <a class="nav-link text-light" asp-area="" asp-controller="VisitUs" asp-action="VisitUs">Visit</a>
                            </li>
                            <li class="nav-item" id="navLi">
                                <a class="nav-link text-light" asp-area="" asp-controller="AboutUs" asp-action="Index">About Us</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>


    <div class="container-fluid" id="searchBarRow">
        <form style="width:100%">
            <div class="col-md-2">

            </div>
            <div class="input-group" style="width:100%">
                <a asp-controller="Home" asp-action="Index" id="searchbarItem" style="margin-left: 8%;">
                    <img src="~/Icons/Logos/FinalLogo.png" class="img-fluid" height="34" width="141" alt="Oeuvre Art Collection" />
                </a>

                <input type="search" class="form-control" placeholder="Search" style="margin-left: 2%;" id="searchbarItem" name="searchBarInput"/>
                <span class="input-group-btn" style="background-color:#f3f3f3" id="searchbarItem">
                    <button asp-controller="SearchGallery" asp-action="getQuickSearchList" class="btn" style="background-color: #f3f3f3; border-radius: 0"><i class="fa fa-search" style="color: grey"></i></button>
                </span>

                <button class="btn btn-secondary" asp-controller="GalleryRequest" asp-action="Index" style="margin-left: 2%; font-size: 95%; font-weight: bold; margin-right: 8%; background-color: #9b999a;" id="searchbarItem">Add your gallery's work</button>
            </div>
            <div class="col-md-2">

            </div>
        </form>
    </div>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer style="background-color: #eeedeb;">
        <div class="container-fluid ml-auto mr-auto">
            <div class="row" style="width: 80%; margin-left: auto; margin-right: auto;">
                <div class="col-sm-3" style="margin-top: 5%; margin-bottom: 5%;">
                    <h4 class="footerHeader" style="color: #a12412;">CONTACT US</h4>
                    <br />
                    <h6 class="text-dark">Tel. +1 519 620 5500 </h6>
                    <h6 class="text-dark">info@oeuvre.com</h6>
                    <h6 class="text-dark">345 King Street</h6>
                    <h6 class="text-dark">Waterloo, Ontario</h6>
                    <h6 class="text-dark">N2E 4A4</h6>
                </div>

                <div class="col-sm-3" style="margin-top: 5%; margin-bottom: 5%;">
                    <h4 class="footerHeader" style="color: #a12412;">RESOURCES</h4>
                    <br />
                    <a asp-controller="SearchGallery" asp-action="SearchGallery"><h6 class="text-dark">Collections</h6></a>
                    <a asp-controller="Galleries" asp-action="Index"><h6 class="text-dark">Galleries</h6></a>
                    <!-- Change Your Local Galleries to Maps page-->
                    <a asp-controller="Galleries" asp-action="Index"><h6 class="text-dark">Your Local Galleries</h6></a>
                    <!-- Change to Signup Page -->
                    <a asp-controller="Galleries" asp-action="Index"><h6 class="text-dark">Add Your Gallery</h6></a>
                    <!-- Change to privacy policy page -->
                    <a asp-controller="Galleries" asp-action="Index"><h6 class="text-dark">Privacy Policy</h6></a>
                </div>

                <div class="col-sm-6" style="margin-top: 5%; margin-bottom: 5%;">
                    <h4 class="footerHeader" style="color: #a12412;">SUBSCRIBE TO OUR NEWSLETTER</h4>
                    <br />
                    <div class="form-group">
                        <form>
                            <div class="d-inline-block" style="width: 100%;">
                                <input type="text" class="input-group-text" id="newsletterInput" placeholder="Email" name="Email" />
                                <br />
                                <input type="text" class="input-group-text" id="newsletterInput" placeholder="First Name" name="firstname"/>
                                <br />
                                <input type="text" class="input-group-text" id="newsletterInput" placeholder="Last Name" name="lastname"/>
                            </div>

                            <br />
                            <br />

                            <label for="subscribeCheckbox" class="radio-inline" style="width: 70%; color: #a12412;">
                                <input name="subscribeCheckbox" value="true" style="margin-right: 1%;" type="checkbox"  />
                                Keep me updated on the latest Oeuvre Exhibitions. You can unsubscribe at any time.
                            </label>

                            <br />
                            <br />
                            <button asp-controller="Mail" asp-action="SendEmail" class="btn" id="submitButton">Subscribe</button>
                            @*<input type="submit" value="Subscribe" class="btn" onclick="subscribeEffect()" id="submitButton" />*@
                        </form>
                    </div>
                </div>
            </div>
            <div class="row" style="width: 80%; margin-left: auto; margin-right: auto;">
                <div class="col-sm-3" style="margin-top: 5%; margin-bottom: 5%;">
                    <ul class="list-group list-group-horizontal">
                        <li class="list-group-item border-0" style="background-color: #eeedeb; padding: 1%;">
                            <a class="text-light" href="http://www.facebook.com" id="iconLink" target="_blank">
                                <img src="~/Icons/facebook_maroon.png" width="24" height="24" alt="facebookIcon" />
                            </a>
                        </li>
                        <li class="list-group-item border-0" style="background-color: #eeedeb; padding: 1%;">
                            <a class="text-light" href="http://www.instagram.com" id="iconLink" target="_blank">
                                <img src="~/Icons/instagram_maroon.png" width="24" height="24" alt="instagramIcon" />
                            </a>
                        </li>
                        <li class="list-group-item border-0" style="background-color: #eeedeb; padding: 1%;" target="_blank">
                            <a class="text-light" href="http://www.twitter.com" id="iconLink">
                                <img src="~/Icons/twitter_maroon.png" width="24" height="24" alt="twitterIcon" />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"></script>
    <script src="~/js/site.js"></script>
    <script>
   
        function subscribeEffect() {
            document.getElementsByClassName('input-group-text').value = "";
        }

    </script>


    @RenderSection("Scripts", required: false)

    @section Styles {
        <link rel="stylesheet" href="~/css/Mainpage.css" />
    }
</body>
</html>
