@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

    <ul class="navbar-nav">
        @if (SignInManager.IsSignedIn(User))
        {
            <!-- Added icons into here to be right adjusted
        <li class="nav-item">
            <img src="~/Icons/facebookPlaceholdericon.png" width="32" height="32" alt="facebookIcon" />
        </li>
        -->
            <li class="nav-item">
                <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@User.Identity.Name!</a>
            </li>
            <li class="nav-item">
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="nav-link btn btn-link text-light">Logout</button>
                </form>
            </li>
        }
        else
        {
            <!--
        <li class="nav-item">

                <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Register">Register</a>

            </li>
                        -->
            <li class="nav-item">
                <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="http://www.facebook.com" id="iconLink">
                    <img src="~/Icons/facebook_light.png" width="24" height="24" alt="facebookIcon" />
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="http://www.instagram.com" id="iconLink">
                    <img src="~/Icons/instagram_light.png" width="24" height="24" alt="instagramIcon" />
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="http://www.twitter.com" id="iconLink">
                    <img src="~/Icons/twitter_light.png" width="24" height="24" alt="twitterIcon" />
                </a>
            </li>
        }
    </ul>
