@model Oeuvre.Models.GalleryListing

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            
            
         
            <th></th>
        </tr>
    </thead>
    <tbody>
        
        @{List<List<Image>> item = Model.Images;}
        @{List<string>nameString = Model.GalleryName;}
        @for(var x =0;x< Model.GalleryName.Count;x++)
        {

            <tr>
                testing
            </tr>
            
            <tr>

                <img class="" src="@item[x][0].ImgLocation" width="50" height="50" style="float:left; margin-right:15px; margin-left: -16px" />

            </tr> 
            <tr>

                <img class="" src="@item[x][1].ImgLocation" width="50" height="50" style="float:left; margin-right:15px; margin-left: -16px" />

            </tr> 
            <tr>
                
                    <img class="" src="@item[x][2].ImgLocation" width="50" height="50" style="float:left; margin-right:15px; margin-left: -16px" />

                

            </tr>

            
                
            }
    </tbody>
</table>
