@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container">

    <h4 class="border-bottom" style="color: rgba(161,36,18, 0.9); font-size: 1.2em; margin-bottom:0; font-weight:bold; margin-top:10px; border-bottom-color:rgba(161,36,18, 0.9) !important;">About Us</h4>

    <p style="color: rgba(159,71,59, 0.9);font-size: 1em;margin-bottom: 0;font-weight: 600; margin-top: 10px">
        Oeuvre is a web application that enables users to discover artwork and entices them to visit their local galleries. Additionally, it is an accessible and editable archive web application for small to medium scale galleries,
        that makes displaying work digitally a simple and cost effective task. Oeuvre further establishes the profile of a gallery within the arts community, and general public, by allowing more visitors to gain access to a gallery's collection 
        and exhibitions. 
    </p>

    <p style="color: rgba(159,71,59, 0.9);font-size: 1em;margin-bottom: 0;font-weight: 600; margin-top: 10px">
        Project Oeuvre was created for the purpose of a CAPSTONE project. All resources and information are being used in association with the prototype to show what the fully functioning web application would look like when practical galleries, and art pieces were used in the database.
    </p>

</div>

<br/>

<div class="container">
    <div class="d-flex justify-content-center">
        <p  class="border-bottom" style="color: rgba(161,36,18, 0.9); font-size: 1.2em; margin-bottom:0; font-weight:bold; border-width:2px !important; border-bottom-color:rgba(161,36,18, 0.9) !important;">Development Team</p>
    </div>
</div>

<div class="container" style="margin-top:15px">
    <div class="row text-center">
        <div class="col-md-3">
            <figure>
                <img src="~/Imgs/sam.jpg" class="rounded-circle" width="150" height="150" alt="">
                <figcaption style="color: rgba(161,36,18, 0.9); font-size: 1em; margin-bottom:0; font-weight:bold">Sam Herron</figcaption>
                <figcaption style="color: rgba(159,71,59, 0.9); font-size: 0.8em; margin-bottom:0; font-weight:600">Full Stack Developer</figcaption>
            </figure>
        </div>
        <div class="col-md-3">
            <figure>
                <img src="~/Imgs/ryan.png" class="rounded-circle" width="150" height="150" alt="">
                <figcaption style="color: rgba(161,36,18, 0.9); font-size: 1em; margin-bottom:0; font-weight:bold">Ryan Wing</figcaption>
                <figcaption style="color: rgba(159,71,59, 0.9); font-size: 0.8em; margin-bottom:0; font-weight:600">Full Stack Developer</figcaption>
            </figure>
        </div>
        <div class="col-md-3">
            <figure>
                <img src="~/Imgs/liam.jpg" class="rounded-circle" width="150" height="150" alt="">
                <figcaption style="color: rgba(161,36,18, 0.9); font-size: 1em; margin-bottom: 0; font-weight: bold ">Liam Stephenson</figcaption>
                <figcaption style="color: rgba(159,71,59, 0.9); font-size: 0.8em; margin-bottom:0; font-weight:600">Full Stack Developer</figcaption>
            </figure>
        </div>
        <div class="col-md-3">
            <figure>
                <img src="~/Imgs/betty.jpg" class="rounded-circle" width="150" height="150" alt="">
                <figcaption style="color: rgba(161,36,18, 0.9); font-size: 1em; margin-bottom:0; font-weight:bold">Betty Istrofor</figcaption>
                <figcaption style="color: rgba(159,71,59, 0.9); font-size: 0.8em; margin-bottom:0; font-weight:600">Graphic Designer</figcaption>
            </figure>
        </div>
    </div>

</div>

<br/>
